{% extends "myapp/header.html" %}

{% block content %}
<p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>

    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>

    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>

    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>

    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>

    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>
    <p>Текст в хом.хтмл добавляется в хедер.хтмл</p>



{% include "myapp/fotki/fotki.html" %}

{% endblock %}